/* Anpassung der Navbar-Farbe */
nav {
    background-color: #BF261F !important;
}
.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
  .parallax-container .parallax img {
    object-fit: cover;
    width: 100%;
  }
  
  .parallax-text {
    position: absolute;
    bottom: 20px; /* Abstand zum unteren Rand */
    left: 20px; /* Abstand zum linken Rand */
    color: white;
    opacity: 0; /* Standardmäßig unsichtbar */
    transition: opacity 0.3s ease;
  }
  .parallax-container:hover .parallax-text {
    opacity: 1; /* Sichtbar beim Hover */
  }